<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="search-service">
    <description>PSR-12 coding standard for the PHP server.</description>

    <file>server</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>server/data/*</exclude-pattern>
    <exclude-pattern>server/data_incoming/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="PSR12"/>
</ruleset>
